{% extends 'inventory/base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="form-container" method="post">
        {% csrf_token %}
        <div class="shadow p-4 mb-3 bg-white rounded" style="padding-left: 50px; max-width: 300px;">
          <h2 class="mb-4">ADD INVENTORY</h2>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Type</label>
            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Type Of Product" name="typeofproduct" required>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Brand</label>
            <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Brand" name="brand" required>
          </div>
          <div class="row mb-3">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Product Name</label>
                <input type="text" class="form-control form-control-sm" id="formGroupExampleInput" placeholder="Name of Product" name="nameofproduct" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="shoeSize" class="form-label">Shoe Size</label>
                <select class="form-select form-select-sm" id="shoeSize" name="shoesize" required>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Stock</label>
                <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Stock" name="stock" required>
              </div>
            </div>
            <div class="col">
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Per Piece Cost</label>
                <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Cost Price" name="costprice" required>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Receiving Date</label>
            <input type="date" class="form-control form-control-sm" id="formGroupExampleInput2" name="rdate" required>
          </div>
          <button type="submit" class="btn btn-secondary d-block mx-auto">Add Product</button>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="margin-left: -200px;">
      <div class="shadow p-4 mb-3 bg-white rounded" style="width: 120%; overflow-y: auto; max-height: 400px;">
        <h2 class="text-center mb-3">INVENTORY STATUS</h2>
        <div class="InventoryStatus">
          <table class="table table-bordered table-hover">
            <thead style="background-color: gray;">
              <tr>
                <th>Type Of Product</th>
                <th>Brand of Product</th>
                <th>Name of Product</th>
                <th>Size</th>
                <th>Stock</th>
                <th>Cost Price</th>
                <th>Last Receiving-Date</th>
              </tr>
            </thead>
            <tbody>
              {% for item in Inventory %}
              {% if item.username == user.username %}
              <tr>
                <td>{{ item.P_Type }}</td>
                <td>{{ item.P_Brand }}</td>
                <td>{{ item.p_Name }}</td>
                <td>{{ item.P_Size }}</td>
                <td>{{ item.P_Stock}}</td>
                <td>{{ item.cost }}</td>
                <td>{{ item.R_date }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
