{% extends 'inventory/base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form method="post">
        {% csrf_token %}
        <div class="shadow p-3 mb-5 bg-white rounded" style="max-width: 400px;">
          <h2 class="text-center mb-3">ADD SALES</h2>
          <div >
            <div>
              <label for="stype" class="form-label">Customer Name</label>
              <input type="text" class="form-control" placeholder="Customer Name" aria-label="Customer Name" name="cname"  required>
            </div>
            <div>
              <label for="stype" class="form-label">Customer email</label>
              <input type="email" class="form-control" placeholder="Customer Email" aria-label="Customer Email" name="cmail" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="stype" class="form-label">Type of Product</label>
              <select id="stype" class="form-select" aria-label="Type of Product" name="stype" required>
                {% for ptype in ptypes %}
                <option value="{{ ptype.P_Type }}">{{ ptype.P_Type }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="sbrand" class="form-label">Brand</label>
              <select id="sbrand" class="form-select" aria-label="Brand" name="sbrand" required> 
                {% for btype in brandtypes %}
                <option value="{{ btype.P_Brand }}">{{ btype.P_Brand }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="sname" class="form-label">Name</label>
              <select id="sname" class="form-select" aria-label="Name" name="sname" required> 
                {% for pname in pnames %}
                <option value="{{ pname.p_Name }}">{{ pname.p_Name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col">
              <label for="shoeSize" class="form-label">Shoe Size</label>
              <select class="form-select" id="shoeSize" name="Ssize" required>
                {% for ss in Ssize %}
                <option value="{{ ss.P_Size }}">{{ ss.P_Size }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="sellingDate" class="form-label">Selling Date</label>
              <input type="date" class="form-control" id="sellingDate" name="sellingDate" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label for="scount" class="form-label">Quantity</label>
              <input type="text" class="form-control" id="scount" placeholder="Quantity Sold" name="scount" required>
            </div>
            <div class="col">
              <label for="sellingPrice" class="form-label">Selling Price</label>
              <input type="text" class="form-control" id="sellingPrice" placeholder="Selling Price" name="sellingPrice" required>
            </div>
          </div>
          <button type="submit" class="btn btn-secondary d-block mx-auto">SELL</button>
        </div>
      </form>
    </div>
    <div class="col-md-6" style="margin-left: -150px;">
      <div class="shadow p-4 mb-5 bg-white rounded" style="width: 100%;">
        <h2 class="text-center mb-3">LAST 25 SALES</h2>
        <div class="InventoryStatus" style="max-height: 500px; overflow-y: auto;">
          <table class="table table-bordered table-hover">
            <thead style="background-color: gray;">
              <tr>
                <th>P_Type</th>
                <th>P_Brand</th>
                <th>P_Name</th>
                <th>P_Size</th>
                <th>Quantity</th>
                <th>Selling Price</th>
                <th>Selling Date</th>
              </tr>
            </thead>
            <tbody>
              {% for item in Sales %}
              {% if item.username == user.username %}
              <tr>
                <td>{{ item.PS_Type }}</td>
                <td>{{ item.PS_Brand }}</td>
                <td>{{ item.PS_Name }}</td>
                <td>{{ item.PS_Size }}</td>
                <td>{{ item.QuantitySold }}</td>
                <td>{{ item.SellingPrice }}</td>
                <td>{{ item.PS_Date }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
