{%extends "../layout.html"%}
{% load crispy_forms_tags %}
{%block content%}
<div>
    <form method="POST">
        <Fieldset>
            <legend class ="border-bottom pd-2 mb-4 text-center">Login</legend>
            {% csrf_token %}
            <div class = "form-group">
                {{ form|crispy }}
            </div>
            <div class ="form-group pt-4">
                <button class="btn btn-outline-success type ="submit">Login</button>
            </div> 
        </Fieldset>

    </form>
</div>
{%endblock%}